@import './styles/fonts.css';
@import './styles/tailwind.css';
@import './styles/theme.css';

html {
  direction: rtl;
  color-scheme: light;
  background-color: #fdfcfb;
}

body {
  direction: rtl;
  text-align: right;
  margin: 0;
  min-height: 100vh;
  background-color: #fdfcfb;
  color: #4a4a4a;
}

#root {
  min-height: 100vh;
  background-color: #fdfcfb;
}
